#desc {
	font-size: 0.8em;
	color: grey;
}

#abilities {
	 text-align: center;
}

.icon {
	font-size: 0.8em;
	float: right;
}

.title {
	border: 1px black;
	width:100px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 0.8em;
}

p {
	margin-right: 0.2em;
}

#info {
	font-size: 0.5em;
	color: grey;
}